@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Karla';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(204, 43%, 93%);
}


.container {
    width: 650px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: white;
}

.top {
    height: 180px;
}

header h2 {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    font-family: 'Karla';
    font-size: 400;
    color: hsl(179, 62%, 43%);
}

.days {
    margin: 10px 40px;
    color: hsl(71, 73%, 54%);
}
.explanation{
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    color:hsl(218, 22%, 67%) ;
}
.bottom {
    height: 220px;
    display: flex;
    flex-direction: row;
    
}

.subscription {
    width: 325px;
    color: white;
    border-bottom-left-radius: 16px;
    background-color: hsl(179, 62%, 43%);
}
.subscription h3{
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.dollar{
    margin-left: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.dollar p{
    color: hsl(178, 59%, 74%); 
    margin-left: 10px;
}
.subscription .access{
    margin: 0 40px;
}
button{
    width: 80%;
    background-color: hsl(71, 73%, 54%) ;
    height: 40px;
    margin: 20px 40px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.whyus {
    width: 325px;
    background-color:  hsl(179, 47%, 52%); 
    color: white;
    border-bottom-right-radius: 16px;
}

.whyus h3{
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.whyus p{
    margin-top: 10px;
    margin-left: 40px;
    color: hsl(178, 59%, 74%);  
}
footer {
    position: absolute;
    bottom: 5px;
}

.attribution {

    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
@media screen and (max-width:375px) {
    .container {
        margin: 2px;
        width: 80vw;
        height: 90vh;
        display: flex;
        border-radius: 16px;
        flex-direction: column;
    }
    .top {
        height: 30vh;
        width: 80vw;
    }
    .bottom {
        height: 70vh;
        width: 80vw;
        display: flex;
        flex-direction: column; 
    }
    .subscription {
        width: 80vw;
        height: 30vh;
        border-bottom-left-radius: 0;
   
    }
    .whyus {
        width: 80vw;
        height: 30vh;
        border-bottom-left-radius: 16px;
       
    }
    header h2 {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .days {
        margin: 10px 20px;
        font-size: 16px;
    }
    .explanation{
        font-size: 13px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .subscription h3{
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .dollar{
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .dollar h1{
        font-size: 32px;

    }
    .subscription .access{
        margin: 0 20px;
    }
    button{
        width: 80%;
        height: 40px;
        margin: 20px 20px;
    }
    .whyus h3{
        margin-top: 20px;
        margin-left: 20px;
    }
    .whyus p{
        margin-top: 10px;
        margin-left: 20px;
        font-size: 14px;
    }
}